{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Weather Django - By Reis567</title>
</head>
<body>
    <h1>Previsão do tempo com Django</h1>
    <form action="" method='post'>
        
        {% csrf_token %}
        <div class="label1">
            <label for="">Primeira cidade :</label>
            <input type="text" name="city1" placeholder="Some city name...">
        </div>

        <div class="label2">
            <label for="">Segunda cidade :</label>
            <input type="text" name="city2" placeholder="Other city like Maricá...">
        </div>
        <button type="submit"> <i class="fa-solid fa-magnifying-glass"></i> Procurar</button>
    </form>

    <div class="weather-row">
        <div class="comparisson-container">
            {% if weather_data1 %}
        
                <div class="city-container">
                    {% include 'weather_app/city_weather.html' with weather_data=weather_data1 daily_forecasts=daily_forecasts1 %}
                </div>

            {% endif %}

            {% if weather_data2 %}
        
                <div class="city-container">
                    {% include 'weather_app/city_weather.html' with weather_data=weather_data2 daily_forecasts=daily_forecasts2 %}
                </div>

            {% endif %}
        </div>
</div>

</body>
</html>